* {
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif,
monospace;
}

#root {
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.box {
  background-color:rgb(241, 239, 239);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgb(222, 222, 222);
  max-width: 100%;
  text-align: center;
}

.box button {
  background-color: rgb(68, 168, 135);
  color: white;
  font-size: 20px;
}